@charset "utf-8";
// form 组件


/* form 的样式  */
.form-group{
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    padding-left: rem-calc(20);
    .form-name{
        font-size: rem-calc(24);
    }
    .form-input{
        input{
            border: 0;
        }
    }
}
