@charset "utf-8";
// module 组件


/* search 的样式  */
.searchbar{
    top: rem-calc(72);
    .searchbar-header{
        padding: rem-calc(10);
        &.searchbar-active{
            .searchbar-input{
                margin-right: rem-calc(100);
            }
            .searchbar-link{
                margin-right: 0;
            }
        }
    }
    .searchbar-link{
        margin-right: rem-calc(-100);
        width: rem-calc(90);
        display: block;
        height: rem-calc(52);
        line-height: rem-calc(52);
        font-size: rem-calc(28);
        color: #fff;
        white-space: nowrap;
        float: right;
        text-align: center;
        transform: translate3d(0,0,0);
        transition: all .3s;
    }
    .searchbar-input{
        transform: translate3d(0,0,0);
        transition: all .3s;
        position: relative;
        margin-bottom: rem-calc(10);
        label{
            position: absolute;
            color: #999;
            font-size: rem-calc(28);
            top: rem-calc(12);
            left: rem-calc(15);
        }
        input{
            width: 100%;
            display: block;
            height: rem-calc(52);
            line-height: rem-calc(52);
            border: 1px solid #e7eaec;
            border-radius: rem-calc(6);
            padding: rem-calc(0 10 0 50);
        }
    }
}
.searchbar-header{
    .searchbar-input{
        margin-bottom: 0;
        input{
            border: 0;
        }
    }
}
.searchbar-wrap{
    padding: rem-calc(10);
}
.searchbar-group{
    .searchbar-input{
        width: 80%;
        float: left;
        input{
            border-radius: rem-calc(6 0 0 6);
            border-right: 0;
        }
    }
    .searchbar-btn{
        display: block;
        float: left;
        width: 20%;
        height: rem-calc(52);
        line-height: rem-calc(52);
        text-align: center;
        background: #1e95e5;
        color: #fff;
        border-radius: rem-calc(0 6 6 0);
    }
}
