@charset "utf-8";
// reset 组件

// We use this to add box-sizing across browser prefixes
@mixin box-sizing($type:border-box) {
  @include compatible(box-sizing,$type);
}

@if $include-html-global-classes {

  // Set box-sizing globally to handle padding and border widths
  *,
  *:before,
  *:after {
    @include box-sizing(border-box);
    margin:0;
    padding:0;
  }

  html,
  body {
    font-size: $base-font-size;
    -webkit-text-size-adjust : none ;
    -moz-text-size-adjust : none ;
    -ms-text-size-adjust : none ;
    text-size-adjust : none ;
 }

  // Default body styles
  body {
    background: $body-bg;
    color: $body-font-color;
    padding: 0;
    margin: 0 auto;
    width: 16rem;
    font-family: $body-font-family;
    font-weight: $body-font-weight;
    font-style: $body-font-style;
    line-height: 1.5; // Set to $base-line-height to take on browser default of 150%
    cursor: $cursor-default-value;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  // Get rid of gap under images by making them display: inline-block; by default
  img {
    display: inline-block;
    vertical-align: middle;
    border:none;
  }

  //
  // Global resets for forms
  //

  // Make sure textarea takes on height automatically
  textarea { height: auto; min-height: 50px; }

  // Make select elements 100% width by default
  select { width: 100%; }

  a{  text-decoration: none;color: $body-font-color; -webkit-tap-highlight-color: rgba(0,0,0,0); }

  a:hover { cursor: $cursor-pointer-value; }
  a:active { color: #ccc; }

  // Override outline from normalize, we don't like it
  a:focus { outline: none; }

  ul,li {list-style: none;}

  // Grid Defaults to get images and embeds to work properly
  // img,
  // object,
  // embed { max-width: 100%; height: auto; }

  object,
  embed { height: 100%; }
  img { -ms-interpolation-mode: bicubic; }


  // Font smoothing
  // Antialiased font smoothing works best for light text on a dark background.
  // Apply to single elements instead of globally to body.
  // Note this only applies to webkit-based desktop browsers on the Mac.
  .antialiased { -webkit-font-smoothing: antialiased; }

  // Clear float
  .cl { clear: both !important; }
  .cf:after {
    content: ".";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
  }
  .none{ display: none!important }
  //input reset
  input[type="submit"],
  input[type="reset"],
  input[type="button"], button,{
    -webkit-appearance: none;
  }
  input{
    line-height: normal;
  }
}
.flex-box{
    display: -webkit-box;
    display: -moz-box;
    display: -o-box;
    display: box;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
}
/* 图片样式 */
.img-pic{
  width: 100%;
}
